:root {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: var(--white);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left:3%;
    padding-right:3%;
    font-weight: 700;

    --white: #F5F5F5;
    --veridian: #20bfb4;
    --purple: #3b2eefcb;
    --grey: #888888;
    --black: #2c2c2c;
}